fieldset {
  border: none;
}

form br {
  clear: left;
}

label {
  float: left;
  width: 150px;
  margin: 0 0 0.9em 0;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  width: 300px;
  margin: 0 0 0.9em 0;
}

textarea {
  overflow: auto;
}

label input {
  width: auto;
  height: auto;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: middle;
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

label,
button {
  cursor: pointer;
}
