ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
q,
fieldset,
dl,
dt,
dd,
iframe,
table,
tbody,
thead,
td,
th,
address,
legend {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
