@import "./_htmlElements.less";
@import "./_html5Elements.less";
@import "./_iOS.less";
@import "./_text.less";
@import "./_list.less";
@import "./_form.less";
@import "./_button.less";

body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
