h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 2em 0 1em 0;
}

h2 {
  font-size: 1.3333em;
  line-height: 1.125em;
  margin-top: 1.6875em;
  margin-bottom: 0.5625em;
}

h3 {
  font-size: 1.1667em;
  line-height: 1.286em;
  margin-top: 1.929em;
  margin-bottom: 0.643em;
}

h4 {
  margin-top: 1.5em;
}

h5 {
  margin-top: 1.5em;
  font-weight: normal;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
}

blockquote {
  margin: 0 2.5em 1.5em 2.5em;
  font-style: oblique;
}

q {
  font-style: oblique;
}

hr {
  margin: 0 0 1.5em 0;
  height: 1px;
  background: #333;
  border: none;
}

small {
  font-size: 0.8333em;
  line-height: 1.8em;
}

a img,
:link img,
:visited img {
  border: none;
}

a {
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
}
